.PictureDivOn {
    display: inline-block;
    background-color: rgb(163, 240, 223);
    margin: 8px;
    padding: 5px;
    border: 1px solid black;
    width: 300px;
    height: 290px;
    position: relative;
    vertical-align: top;
  }

  .PictureDivOff {
    display: inline-block;
    background-color: rgb(163, 240, 223);
    margin: 8px;
    padding: 5px;
    border: 1px solid black;
    width: 300px;
    height: 290px;
    position: relative;
    vertical-align: top;
    /* should keep text from being selected so it's easier to click */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
  }

  .PictureDivOff img {
    opacity: .3;
  }

  .PictureDivOff div {
    /* background-color: yellow; */
    vertical-align: top;
    display: inline;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 5px);
    /* border: 1px solid black; */
    width: 225px;
    height: 206px;
    margin-top: 25px;
  }

  .ImageText{
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid white; */
    font-size: 18px;
  }

  img {
    margin-top: 25px;
    align-content: center;
  }
  
  .likeBtn {
    margin-top: 12px;
    padding: 3px;
  }

.deleteBtn {
  position: absolute;
  right: 7px;
  top: 7px;
  padding: 3px;
  background-color: red;
  color: white;
}