.PictureDivOn {
    display: inline-block;
    /* background-color: green; */
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    position: relative;
    vertical-align: top;
  }

  .PictureDivOff {
    display: inline-block;
    /* background-color: red; */
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    position: relative;
    vertical-align: top;
  }

  .PictureDivOff img {
    opacity: .2;
  }

  .PictureDivOff div {
    /* background-color: yellow; */
    vertical-align: top;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 5px);
    border: 1px solid black;
    width: 200px;
    height: 150px;
  }

  .ImageText{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid white; */
    font-size: 20px;
  }

  img {
    align-content: center;
  }
  
  button {
    margin-top: 12px;
    /* margin-bottom: 0px; */
    padding: 3px;
  }