.PictureDivOn {
    display: inline-block;
    /* background-color: red; */
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    width: 300px;
    height: 300px;
  }

  .PictureDivOff {
    display: inline-block;
    /* background-color: red; */
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    position: relative;
  }

  .PictureDivOff img {
    opacity: .2;
  }

  .PictureDivOff div {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 5px);
    border: 1px solid black;
    width: 200px;
    height: 150px;
  }

  .PictureDivOff p{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid green; */
    font-size: 20px;
  }

  img {
    align-content: center;
  }