/* This is the App.css file for the Week 10 assignment for Prime Digital Academy, created by Adam Boerhave, 
10/22/1010 - 10/25/2020 */

/* keeps stuff in the middle */
.App {
  text-align: center;
}

/* header color and spacing */
.App-header {
  background-color: rgb(22, 35, 153);
  height: 70px;
  padding: 20px;
  color: white;
}

/* header text size */
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* color for page */
body {
  background-color: rgb(106, 174, 236);
}